<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>EmployeeController</servlet-name>
		<servlet-class>com.createiq.ems.controller.EmployeeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>


</web-app>